@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply capitalize
}

/* ----- Quill Overrides ----- */
.ql-toolbar,.ql-container{
    border: none !important;
    padding : 0px !important;
}
.ql-toolbar {
    position: sticky;
    top : 10px;
    background-color: red;
    z-index: 10;
    box-shadow: 0px 3px 16px 0px #0000001f;
    padding : 5px!important;
    border-radius: 8px;
    display: inline-block;
}
[data-theme=winter] .ql-toolbar{
    background-color: white;

}
[data-theme=dark] .ql-toolbar {
    background-color: #3a404c;
}
.ql-editor{
    padding : 10px 0px!important;
    min-height: 100px;
    line-height: 32px!important;
}
.ql-active{
    border :  1px solid #7c7c7c !important;
    border-radius: 3px!important;
    margin-left: 1px;
}
.ql-stroke{
    stroke : #a3a3a3!important;
}
.ql-fill{
    fill : #a3a3a3!important;
}
.ql-picker-label{
    color : #a3a3a3!important;
}