@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: RobotoMono;
    }
  }

  @font-face {
    font-family: RobotoMono;
    src: url('/fonts/RobotoMono.ttf');
  }

.btn{
    @apply capitalize
}

/* ----- Quill Overrides ----- */
.ql-toolbar,.ql-container{
    border: none !important;
    padding : 0px !important;
}
.ql-toolbar {
    position: sticky;
    top : 20px;
    z-index: 10;
    padding : 5px!important;
    display: inline-block;
    margin : 7px 0px;
}
[data-theme=winter] .ql-toolbar{
    background-color: white;
}
[data-theme=dark] .ql-toolbar {
    background-color: #2a303c;
}
.ql-editor.ql-blank::before{
    color : #a3a3a3!important;
    left : 0px!important;
    right : 0px!important;
}
.ql-editor{
    padding : 0px!important;
    min-height: 100px;
    line-height: 25px!important;
    font-family: RobotoMono;
}
.ql-active{
    border :  1px solid #7c7c7c !important;
    border-radius: 3px!important;
    margin-left: 1px;
}
.ql-stroke{
    stroke : #a3a3a3!important;
}
.ql-fill{
    fill : #a3a3a3!important;
}
.ql-picker-label{
    color : #a3a3a3!important;
}

/* ----- color picker overrides ----- */
.github-picker{
    flex-wrap: nowrap!important;
    width : fit-content!important;
    gap : 2px !important;
    border: none!important;
}
[data-theme=winter] .github-picker{
    background-color: white!important;
}
[data-theme=dark] .github-picker{
    background-color: #3a404c!important;
}