@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply capitalize
}

/* ----- Quill Overrides ----- */
.ql-toolbar,.ql-container{
    border: none !important;
}
.ql-toolbar{
    background-color: white;
    border-radius: 10px;
}